<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

    <section id="services-app">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-xs-12">
                    <div class="">
                    <img class="img1 img-responsive2" src="${static.url('images/App/1.png')}" >
                    </div>
                </div>
                
                <div class="col-md-3 col-md-offset-9 col-xs-12">
                    <div class="app1">
                    <img class="img2" src="${static.url('images/App/2.png')}">
                    </div>
                </div>
                
                <div class="row btn2">
                <a href="#" style="color: #000" class="app_link" data-toggle="modal" data-target="#coming"> <i class="fa fa-apple fa-3x"></i>تطبيق IOS على   <br> iTunes</a>
                        
                <a href="#" style="color: #000" class="app_link" data-toggle="modal" data-target="#coming"> <i class="fa fa-android fa-3x"></i>تطبيق Android على   <br>  Google Play</a>
                </div>
                
            </div>
        </div>
    </section>